<div>
  <button class="btn btn-primary addButton" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-plus"></i> Book</button>
</div>
<div>
  <select class="form-control filterCls" id="sel1" [ngModel]="filter" (change)="onChange($event)">
    <option *ngFor="let fltr of filterList; index as i">{{fltr}}</option>
  </select>
  <input class="form-control filterCls" type="text" (keyup)="onSearch($event)" placeholder="Search" aria-label="Search"/><i class="fa fa-search searchIcon"></i>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Serial No.</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Count</th>
        <th scope="col">Issued</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of bookList | async; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{data.srn}}</td>
        <td>{{data.title}}</td>
        <td>{{data.authors.join(", ")}}</td>
        <td>{{data.count}}</td>
        <td>{{data.issued}}</td>
        <td>
          <i class="fa fa-trash" (click)="onDelete(i)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #modelForm = "ngForm" (ngSubmit)="onSubmit(modelForm)" autocomplete="off">
          <div class="form-group">
            <label for="srn">Serial No:</label>
            <input type="text" class="form-control" placeholder="Serial Number" name="srn" id="srn" ngModel>
          </div>
          <div class="form-group">
              <label for="title">Title:</label>
              <input type="text" class="form-control" placeholder="Book title" name="title" id="title" ngModel>
          </div>
          <div class="form-group">
              <label for="authors">Author:</label>
              <input type="text" class="form-control" placeholder="Author name" name="authors" id="authors" ngModel>
          </div>
          <div class="form-group">
              <label for="count">Count:</label>
              <input type="text" class="form-control" placeholder="Book count" name="count" id="count" ngModel>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="modalCloseBtn" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>