.fa-trash:hover {
 color: blue;
 cursor: pointer;
}
.addButton {
    width: 100px;
    margin: 10px;
}
.filterCls {
    width: 150px;
    float:left;
    margin:10px;
}
.searchIcon {
    margin:20px 0px;
}