
<div class="toolbar" role="banner">
  <i class="fa fa-book bookIcon" aria-hidden="true"></i>
  <span style="font-size:20px">Book Library Management</span>
    <div class="spacer"></div>
    <i id="loginIcon" (click)="getLogin()" class="fa fa-user" style="margin: 25px;font-size:25px;cursor: pointer;display: none"></i>
</div>

<div class="content" role="main">

</div>
<router-outlet></router-outlet>