<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <i class="fa fa-user" style="font-size: 40px;"></i>
      </div>
  
      <!-- Login Form -->
      <form  #loginForm = "ngForm" (ngSubmit)="onSubmit(loginForm)">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username is admin" ngModel autocomplete=off>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password is admin" ngModel autocomplete=off>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Username password is admin/admin.</a>
      </div>
  
    </div>
  </div>